*{
    margin: 0;
    padding: 0;
}
nav li{
    list-style-type: none;
    padding: 0px 10px;
}
ul li a{
    text-decoration: none;
}
nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: tomato;
}
nav > ul >li:hover > ul{
    display: block;
}
.drop-down{
    display: none;
    background-color: blue;
    position: absolute;
}
.drop-down li{
    padding: 20px 20px;
    border: 2px solid white;
}
.drop-down a{
    color: white;
}

